body{
    background-color: hsl(0, 0%, 8%);
    font-family: "Inter";
    font-size: 14px;
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    border-radius: 999px;
    width: 88px;
    height: 88px;
    position: relative;
    
}

.box{
    display: flex;
    width: 327px;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-radius: 12px;
    background: hsl(0, 0%, 12%);
}

a{
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    background: var(--Grey, #333);
    width: 255px;
    height: 21px;
}

a:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
    cursor: url('/handcursor.png'), pointer;
}

h1{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

h2{
    color: hsl(75, 94%, 57%);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    padding: 0 0 0 0;
}

.links{
    align-items: center;
}

p{
    font-weight: 400;
    padding: 24px;
}

.name-location{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    

}